# Carga de datos a traves de la funcion Open

In [1]:
mainpath="/Users/jaldoj/Documents/Developer/python-ml-course/datasets"

In [3]:
df=open(mainpath+"/titanic/titanic3.csv","r")

In [4]:
cols=df.readline().strip().split(",")

In [4]:
cols

['pclass',
 'survived',
 'name',
 'sex',
 'age',
 'sibsp',
 'parch',
 'ticket',
 'fare',
 'cabin',
 'embarked',
 'boat',
 'body',
 'home.dest']

In [6]:
n_cols=len(cols)

In [6]:
n_cols

14

In [7]:
print n_cols

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(n_cols)? (<ipython-input-7-e1ce78586fa9>, line 1)

In [8]:
print(n_cols)

14

In [9]:
counter=0
main_dict={}
for col in cols:
    main_dict[col]=[]

In [10]:
for line in df
   values=line.strip().split(",")
    for i in range (len(cols)):
        main_dict[cols[i]].append(values[i])
        counter+= 1
        print ("El dataset tiene d% filas y d% columnas"%(counter,n_cols))

SyntaxError: invalid syntax (<ipython-input-10-d7491cadc0a4>, line 1)

In [11]:
for line in df:
   values=line.strip().split(",")
    for i in range (len(cols)):
        main_dict[cols[i]].append(values[i])
        counter+= 1
        print ("El dataset tiene d% filas y d% columnas"%(counter,n_cols))

IndentationError: unexpected indent (<ipython-input-11-76db84546e4a>, line 3)

In [12]:
for line in df:
   values = line.strip().split(",")
    for i in range (len(cols)):
        main_dict[cols[i]].append(values[i])
        counter+= 1
        print ("El dataset tiene d% filas y d% columnas"%(counter,n_cols))

IndentationError: unexpected indent (<ipython-input-12-a82df54b5c3b>, line 3)

In [13]:
cols

['pclass',
 'survived',
 'name',
 'sex',
 'age',
 'sibsp',
 'parch',
 'ticket',
 'fare',
 'cabin',
 'embarked',
 'boat',
 'body',
 'home.dest']

In [14]:
for line in df:
   values = line.strip().split(",")
for i in range (len(cols)):
        main_dict[cols[i]].append(values[i])
        counter+= 1
        print ("El dataset tiene d% filas y d% columnas"%(counter,n_cols))

El dataset tiene d 1.000000ilas y dolumnas
El dataset tiene d 2.000000ilas y dolumnas
El dataset tiene d 3.000000ilas y dolumnas
El dataset tiene d 4.000000ilas y dolumnas
El dataset tiene d 5.000000ilas y dolumnas
El dataset tiene d 6.000000ilas y dolumnas
El dataset tiene d 7.000000ilas y dolumnas
El dataset tiene d 8.000000ilas y dolumnas
El dataset tiene d 9.000000ilas y dolumnas
El dataset tiene d 10.000000ilas y dolumnas
El dataset tiene d 11.000000ilas y dolumnas
El dataset tiene d 12.000000ilas y dolumnas
El dataset tiene d 13.000000ilas y dolumnas
El dataset tiene d 14.000000ilas y dolumnas

In [15]:
for line in df:
   values = line.strip().split(",")
   for i in range (len(cols)):
        main_dict[cols[i]].append(values[i])
        counter+= 1
        print ("El dataset tiene d% filas y d% columnas"%(counter,n_cols))

In [16]:
for line in df:
   values = line.strip().split(",")
   for i in range (len(cols)):
        main_dict[cols[i]].append(values[i])
        counter+= 1
        print ("El dataset tiene %d filas y %d columnas"%(counter,n_cols))

In [17]:
for line in df:
   values = line.strip().split(",")
for i in range (len(cols)):
        main_dict[cols[i]].append(values[i])
        counter+= 1
        print ("El dataset tiene %d filas y %d columnas"%(counter,n_cols))

El dataset tiene 15 filas y 14 columnas
El dataset tiene 16 filas y 14 columnas
El dataset tiene 17 filas y 14 columnas
El dataset tiene 18 filas y 14 columnas
El dataset tiene 19 filas y 14 columnas
El dataset tiene 20 filas y 14 columnas
El dataset tiene 21 filas y 14 columnas
El dataset tiene 22 filas y 14 columnas
El dataset tiene 23 filas y 14 columnas
El dataset tiene 24 filas y 14 columnas
El dataset tiene 25 filas y 14 columnas
El dataset tiene 26 filas y 14 columnas
El dataset tiene 27 filas y 14 columnas
El dataset tiene 28 filas y 14 columnas

In [1]:



counter=0
main_dict={}
for col in cols:
    main_dict[col]=[]
for line in df:
   values = line.strip().split(",")
for i in range (len(cols)):
        main_dict[cols[i]].append(values[i])
        counter+= 1
        print ("El dataset tiene %d filas y %d columnas"%(counter,n_cols))

NameError: name 'cols' is not defined

In [5]:
counter=0
main_dict={}
for col in cols:
    main_dict[col]=[]
for line in df:
   values = line.strip().split(",")
for i in range (len(cols)):
        main_dict[cols[i]].append(values[i])
        counter+= 1
        print ("El dataset tiene %d filas y %d columnas"%(counter,n_cols))

NameError: name 'n_cols' is not defined

In [7]:
counter=0
main_dict={}
for col in cols:
    main_dict[col]=[]
for line in df:
   values = line.strip().split(",")
for i in range (len(cols)):
        main_dict[cols[i]].append(values[i])
        counter+= 1
        print ("El dataset tiene %d filas y %d columnas"%(counter,n_cols))

El dataset tiene 1 filas y 14 columnas
El dataset tiene 2 filas y 14 columnas
El dataset tiene 3 filas y 14 columnas
El dataset tiene 4 filas y 14 columnas
El dataset tiene 5 filas y 14 columnas
El dataset tiene 6 filas y 14 columnas
El dataset tiene 7 filas y 14 columnas
El dataset tiene 8 filas y 14 columnas
El dataset tiene 9 filas y 14 columnas
El dataset tiene 10 filas y 14 columnas
El dataset tiene 11 filas y 14 columnas
El dataset tiene 12 filas y 14 columnas
El dataset tiene 13 filas y 14 columnas
El dataset tiene 14 filas y 14 columnas

In [2]:
df=open("../python-ml-course/datasets/customer-churn-model/Customer Churn Model.txt","r")

In [3]:
cols=df.readline().strip().split(",")

In [4]:
n_cols=len(cols)

In [5]:
counter=0
main_dict={}
for col in cols:
    main_dict[col]=[]
for line in df:
   values = line.strip().split(",")
for i in range (len(cols)):
        main_dict[cols[i]].append(values[i])
        counter+= 1
        print ("El dataset tiene %d filas y %d columnas"%(counter,n_cols))

El dataset tiene 1 filas y 21 columnas
El dataset tiene 2 filas y 21 columnas
El dataset tiene 3 filas y 21 columnas
El dataset tiene 4 filas y 21 columnas
El dataset tiene 5 filas y 21 columnas
El dataset tiene 6 filas y 21 columnas
El dataset tiene 7 filas y 21 columnas
El dataset tiene 8 filas y 21 columnas
El dataset tiene 9 filas y 21 columnas
El dataset tiene 10 filas y 21 columnas
El dataset tiene 11 filas y 21 columnas
El dataset tiene 12 filas y 21 columnas
El dataset tiene 13 filas y 21 columnas
El dataset tiene 14 filas y 21 columnas
El dataset tiene 15 filas y 21 columnas
El dataset tiene 16 filas y 21 columnas
El dataset tiene 17 filas y 21 columnas
El dataset tiene 18 filas y 21 columnas
El dataset tiene 19 filas y 21 columnas
El dataset tiene 20 filas y 21 columnas
El dataset tiene 21 filas y 21 columnas

In [6]:
for line in df:
   values = line.strip().split(",")
    for i in range (len(cols)):
        main_dict[cols[i]].append(values[i])
        counter+= 1
        print ("El dataset tiene %d filas y %d columnas"%(counter,n_cols))

IndentationError: unexpected indent (<ipython-input-6-df3338463ec1>, line 3)

In [7]:
for line in df:
   values = line.strip().split(",")
   for i in range (len(cols)):
        main_dict[cols[i]].append(values[i])
        counter+= 1
        print ("El dataset tiene %d filas y %d columnas"%(counter,n_cols))

In [8]:
for line in df:
   values = line.strip().split(",")
for i in range (len(cols)):
        main_dict[cols[i]].append(values[i])
        counter+= 1
        print ("El dataset tiene %d filas y %d columnas"%(counter,n_cols))

El dataset tiene 22 filas y 21 columnas
El dataset tiene 23 filas y 21 columnas
El dataset tiene 24 filas y 21 columnas
El dataset tiene 25 filas y 21 columnas
El dataset tiene 26 filas y 21 columnas
El dataset tiene 27 filas y 21 columnas
El dataset tiene 28 filas y 21 columnas
El dataset tiene 29 filas y 21 columnas
El dataset tiene 30 filas y 21 columnas
El dataset tiene 31 filas y 21 columnas
El dataset tiene 32 filas y 21 columnas
El dataset tiene 33 filas y 21 columnas
El dataset tiene 34 filas y 21 columnas
El dataset tiene 35 filas y 21 columnas
El dataset tiene 36 filas y 21 columnas
El dataset tiene 37 filas y 21 columnas
El dataset tiene 38 filas y 21 columnas
El dataset tiene 39 filas y 21 columnas
El dataset tiene 40 filas y 21 columnas
El dataset tiene 41 filas y 21 columnas
El dataset tiene 42 filas y 21 columnas

In [10]:
for line in df:
   values = line.strip().split(",")
   for i in range (len(cols)):
        main_dict[cols[i]].append(values[i])
    counter += 1
print ("El dataset tiene %d filas y %d columnas"%(counter,n_cols))

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

In [12]:
for line in df:
   values = line.strip().split(",")
   for i in range (len(cols)):
        main_dict[cols[i]].append(values[i])
    counter += 1
    
print ("El dataset tiene %d filas y %d columnas"%(counter,n_cols))

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

In [13]:
counter = 0
main_dict={}
for col in cols:
    main_dict[col]=[]

for line in df:
   values = line.strip().split(",")
   for i in range (len(cols)):
        main_dict[cols[i]].append(values[i])
   counter += 1
    
print ("El dataset tiene %d filas y %d columnas"%(counter,n_cols))

El dataset tiene 0 filas y 21 columnas

In [14]:
counter = 0
main_dict={}
for col in cols:
    main_dict[col]=[]

for line in df:
   values = line.strip().split(",")
   for i in range (len(cols)):
        main_dict[cols[i]].append(values[i])
   counter+= 1
    
print ("El dataset tiene %d filas y %d columnas"%(counter,n_cols))

El dataset tiene 0 filas y 21 columnas

In [15]:
counter = 0
main_dict={}
for col in cols:
    main_dict[col]=[]
for line in df:
   values = line.strip().split(",")
   for i in range (len(cols)):
        main_dict[cols[i]].append(values[i])
   counter += 1
    
print ("El dataset tiene %d filas y %d columnas"%(counter,n_cols))

El dataset tiene 0 filas y 21 columnas

In [16]:
counter = 0
main_dict={}
for col in cols:
    main_dict[col]=[]

In [17]:
for line in df:
   values = line.strip().split(",")
   for i in range (len(cols)):
        main_dict[cols[i]].append(values[i])
   counter += 1
    
print ("El dataset tiene %d filas y %d columnas"%(counter,n_cols))

El dataset tiene 0 filas y 21 columnas

In [18]:
for line in df:
   values = line.strip().split(",")
   for i in range (len(cols)):
        main_dict[cols[i]].append(values[i])
   counter+= 1
    
print ("El dataset tiene %d filas y %d columnas"%(counter,n_cols))

El dataset tiene 0 filas y 21 columnas

In [19]:
cols

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [20]:
n_cols

21

In [21]:
counter = 0
main_dict={}
for col in cols:
    main_dict[col]=[]

In [23]:
for line in df:
     lineas = line.strip().split(",")
   for i in range (len(cols)):
        main_dict[cols[i]].append(lineas[i])
   counter+= 1
    
print ("El dataset tiene %d filas y %d columnas"%(counter,n_cols))

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [24]:
for line in df:
lineas = line.strip().split(",")
   for i in range (len(cols)):
        main_dict[cols[i]].append(lineas[i])
   counter+= 1
    
print ("El dataset tiene %d filas y %d columnas"%(counter,n_cols))

IndentationError: expected an indented block (<ipython-input-24-51a8917338c9>, line 2)

In [26]:
for line in df:
    lineas = line.strip().split(",")
   for i in range (len(cols)):
        main_dict[cols[i]].append(lineas[i])
   counter+= 1
    
print ("El dataset tiene %d filas y %d columnas"%(counter,n_cols))

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [27]:
for line in df:
    lineas = line.strip().split(",")
       for i in range (len(cols)):
            main_dict[cols[i]].append(lineas[i])
       counter+= 1
    
print ("El dataset tiene %d filas y %d columnas"%(counter,n_cols))

IndentationError: unexpected indent (<ipython-input-27-0f631f28157d>, line 3)

In [28]:
for line in df:
 lineas = line.strip().split(",")
       for i in range (len(cols)):
            main_dict[cols[i]].append(lineas[i])
       counter+= 1
    
print ("El dataset tiene %d filas y %d columnas"%(counter,n_cols))

IndentationError: unexpected indent (<ipython-input-28-879cc9f4fe0a>, line 3)

In [29]:
for line in df:
   lineas = line.strip().split(",")
       for i in range (len(cols)):
       main_dict[cols[i]].append(lineas[i])
counter+= 1
    
print ("El dataset tiene %d filas y %d columnas"%(counter,n_cols))

IndentationError: unexpected indent (<ipython-input-29-e3295cd98f23>, line 3)

In [30]:
for line in df:
         lineas = line.strip().split(",")
         for i in range (len(cols)):
             main_dict[cols[i]].append(lineas[i])
         counter+= 1
    
print ("El dataset tiene %d filas y %d columnas"%(counter,n_cols))

El dataset tiene 0 filas y 21 columnas

In [31]:
df.head()

AttributeError: '_io.TextIOWrapper' object has no attribute 'head'

In [32]:
print (df)

<_io.TextIOWrapper name='../python-ml-course/datasets/customer-churn-model/Customer Churn Model.txt' mode='r' encoding='cp1252'>

In [33]:
print ("df")

df

In [34]:
leer=df.readlines(10)
print(leer)

In [35]:
leer=df.readlines(10)
print(leer)

[]

In [36]:
leer=df.readlines()
print(leer)

[]

In [37]:
leer=df.read(10)
leer

''

In [38]:
df=open(mainpath+"/titanic/titanic3.csv","r")

In [39]:
leer=df.read(10)
leer

'pclass,sur'

In [40]:
leer=df.read(100)
leer

'vived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest\n1,1,"Allen, Miss. Elis'

# Lectura y Escritura de Ficheros

In [50]:
infile = mainpath+"/customer-churn-model/Customer Churn Model.txt"
outfile = mainpath+"/customer-churn-model/Tab Customer Churn Model5.txt"

In [51]:
with open(infile, "r") as infile1:
    with open(outfile,"w") as outfile1:
        for line in infile1:
            fields=line.split(",")
            outfile1.write("\t".join(fields))

In [27]:
import pandas as pd

In [36]:
df= pd.read_csv(outfile,sep="\t")

In [37]:
df

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False.
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False.
7,MO,147,415,329-9001,yes,no,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False.
8,LA,117,408,335-4719,no,no,0,184.5,97,31.37,...,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False.
9,WV,141,415,330-8173,yes,yes,37,258.6,84,43.96,...,111,18.87,326.4,97,14.69,11.2,5,3.02,0,False.
10,IN,65,415,329-6603,no,no,0,129.1,137,21.95,...,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True.
11,RI,74,415,344-9403,no,no,0,187.7,127,31.91,...,148,13.89,196.0,94,8.82,9.1,5,2.46,0,False.
12,IA,168,408,363-1107,no,no,0,128.8,96,21.90,...,71,8.92,141.1,128,6.35,11.2,2,3.02,1,False.
13,MT,95,510,394-8006,no,no,0,156.6,88,26.62,...,75,21.05,192.3,115,8.65,12.3,5,3.32,3,False.
14,IA,62,415,366-9238,no,no,0,120.7,70,20.52,...,76,26.11,203.0,99,9.14,13.1,6,3.54,4,False.
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
16,ID,85,408,350-8884,no,yes,27,196.4,139,33.39,...,90,23.88,89.3,75,4.02,13.8,4,3.73,1,False.
17,VT,93,510,386-2923,no,no,0,190.7,114,32.42,...,111,18.55,129.6,121,5.83,8.1,3,2.19,3,False.
18,VA,76,510,356-2992,no,yes,33,189.7,66,32.25,...,65,18.09,165.7,108,7.46,10.0,5,2.70,1,False.
19,TX,73,415,373-2782,no,no,0,224.4,90,38.15,...,88,13.56,192.8,74,8.68,13.0,2,3.51,1,False.
20,FL,147,415,396-5800,no,no,0,155.1,117,26.37,...,93,20.37,208.8,133,9.40,10.6,4,2.86,0,False.
21,CO,77,408,393-7984,no,no,0,62.4,89,10.61,...,121,14.44,209.6,64,9.43,5.7,6,1.54,5,True.
22,AZ,130,415,358-1958,no,no,0,183.0,112,31.11,...,99,6.20,181.8,78,8.18,9.5,19,2.57,0,False.
23,SC,111,415,350-2565,no,no,0,110.4,103,18.77,...,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False.
24,VA,132,510,343-4696,no,no,0,81.1,86,13.79,...,72,20.84,237.0,115,10.67,10.3,2,2.78,0,False.
25,NE,174,415,331-3698,no,no,0,124.3,76,21.13,...,112,23.55,250.7,115,11.28,15.5,5,4.19,3,False.
26,WY,57,408,357-3817,no,yes,39,213.0,115,36.21,...,112,16.24,182.7,115,8.22,9.5,3,2.57,0,False.
27,MT,54,408,418-6412,no,no,0,134.3,73,22.83,...,100,13.22,102.1,68,4.59,14.7,4,3.97,3,False.
28,MO,20,415,353-2630,no,no,0,190.0,109,32.30,...,84,21.95,181.5,102,8.17,6.3,6,1.70,0,False.
29,HI,49,510,410-7789,no,no,0,119.3,117,20.28,...,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3303,WI,114,415,373-7308,no,yes,26,137.1,88,23.31,...,125,13.23,247.6,94,11.14,11.5,7,3.11,2,False.
3304,IL,71,510,330-7137,yes,no,0,186.1,114,31.64,...,140,16.88,206.5,80,9.29,13.8,5,3.73,4,True.
3305,IN,58,415,406-8445,no,yes,22,224.1,127,38.10,...,85,20.30,174.2,86,7.84,11.5,7,3.11,2,False.
3306,AL,106,408,404-5283,no,yes,29,83.6,131,14.21,...,131,17.33,229.5,73,10.33,8.1,3,2.19,1,False.
3307,OK,172,408,398-3632,no,no,0,203.9,109,34.66,...,123,19.89,160.7,65,7.23,17.8,4,4.81,4,False.
3308,IA,45,415,399-5763,no,no,0,211.3,87,35.92,...,97,14.08,265.9,72,11.97,13.3,6,3.59,1,False.
3309,VT,100,408,340-9449,yes,no,0,219.4,112,37.30,...,102,19.18,255.3,95,11.49,12.0,4,3.24,4,False.
3310,NY,94,415,363-1123,no,no,0,190.4,91,32.37,...,107,7.82,224.8,108,10.12,13.6,17,3.67,2,False.
3311,LA,128,415,361-2170,no,no,0,147.7,94,25.11,...,83,24.08,188.3,124,8.47,6.9,5,1.86,2,False.
3312,SC,181,408,406-6304,no,no,0,229.9,130,39.08,...,93,12.27,262.4,110,11.81,14.2,4,3.83,2,False.
3313,ID,127,408,392-5090,no,no,0,102.8,128,17.48,...,95,12.21,191.4,97,8.61,10.0,5,2.70,1,False.
3314,MO,89,415,373-7713,no,no,0,178.7,81,30.38,...,74,19.86,131.9,120,5.94,9.1,4,2.46,1,False.
3315,ME,149,415,392-1376,no,yes,18,148.5,106,25.25,...,106,9.73,178.3,98,8.02,6.5,4,1.76,0,False.
3316,MS,103,510,390-6388,no,yes,29,164.1,111,27.90,...,96,18.62,220.3,108,9.91,12.3,9,3.32,0,False.
3317,SD,163,415,379-7290,yes,no,0,197.2,90,33.52,...,113,16.02,211.1,94,9.50,7.8,8,2.11,1,False.
3318,OK,52,415,397-9928,no,no,0,124.9,131,21.23,...,118,25.54,192.5,106,8.66,11.6,4,3.13,2,False.
3319,WY,89,415,378-6924,no,no,0,115.4,99,19.62,...,115,17.84,280.9,112,12.64,15.9,6,4.29,3,False.
3320,GA,122,510,411-5677,yes,no,0,140.0,101,23.80,...,77,16.69,120.1,133,5.40,9.7,4,2.62,4,True.
3321,VT,60,415,400-2738,no,no,0,193.9,118,32.96,...,110,7.23,210.1,134,9.45,13.2,8,3.56,3,False.
3322,MD,62,408,409-1856,no,no,0,321.1,105,54.59,...,122,22.57,180.5,72,8.12,11.5,2,3.11,4,True.
3323,IN,117,415,362-5899,no,no,0,118.4,126,20.13,...,97,21.19,227.0,56,10.22,13.6,3,3.67,5,True.
3324,WV,159,415,377-1164,no,no,0,169.8,114,28.87,...,105,16.80,193.7,82,8.72,11.6,4,3.13,1,False.
3325,OH,78,408,368-8555,no,no,0,193.4,99,32.88,...,88,9.94,243.3,109,10.95,9.3,4,2.51,2,False.
3326,OH,96,415,347-6812,no,no,0,106.6,128,18.12,...,87,24.21,178.9,92,8.05,14.9,7,4.02,1,False.
3327,SC,79,415,348-3830,no,no,0,134.7,98,22.90,...,68,16.12,221.4,128,9.96,11.8,5,3.19,2,False.
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False.
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False.
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False.
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False.
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False.

In [41]:
outfile2 = mainpath+"/customer-churn-model/Customer Churn Model.csv"

In [40]:
df1=pd.read_csv(outfile2,sep="\t")

FileNotFoundError: [Errno 2] File b'/Users/jaldoj/Documents/Developer/python-ml-course/datasets/customer-churn-model/Tab Customer Churn Model.csv' does not exist: b'/Users/jaldoj/Documents/Developer/python-ml-course/datasets/customer-churn-model/Tab Customer Churn Model.csv'

In [42]:
outfile2 = mainpath+"/customer-churn-model/Customer Churn Model.csv"

In [43]:
df1=pd.read_csv(outfile2,sep="\t")

In [44]:
df1

     State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0     KS,128,415,382-4657,no,yes,25,265.100000,110,4...
1     OH,107,415,371-7191,no,yes,26,161.600000,123,2...
2     NJ,137,415,358-1921,no,no,0,243.400000,114,41....
3     OH,84,408,375-9999,yes,no,0,299.400000,71,50.9...
4     OK,75,415,330-6626,yes,no,0,166.700000,113,28....
5     AL,118,510,391-8027,yes,no,0,223.400000,98,37....
6     MA,121,510,355-9993,no,yes,24,218.200000,88,37...
7     MO,147,415,329-9001,yes,no,0,157.000000,79,26....
8     LA,117,408,335-4719,no,no,0,184.500000,97,31.3...
9     WV,141,415,330-8173,yes,yes,37,258.600000,84,4...
10    IN,65,415,329-6603,no,no,0,129.100000,137,21.9...
11    RI,74,415,344-9403,no,no,0,187.700000,127,31.9...
12    IA,168,408,363-1107,no,no,0,128.800000,96,21.9...
13    MT,95,510,394-8006,no,no,0,156.600000,88,26.62...
14    IA,62,415,366-9238,no,no,0,120.700000,70,20.52...
15    NY,161,415,351-7269,no,no,0,332.900000,67,56.5...
16    ID,85,408,350-8884,no,yes,27,196.400000,139,33...
17    VT,93,510,386-2923,no,no,0,190.700000,114,32.4...
18    VA,76,510,356-2992,no,yes,33,189.700000,66,32....
19    TX,73,415,373-2782,no,no,0,224.400000,90,38.15...
20    FL,147,415,396-5800,no,no,0,155.100000,117,26....
21    CO,77,408,393-7984,no,no,0,62.400000,89,10.610...
22    AZ,130,415,358-1958,no,no,0,183.000000,112,31....
23    SC,111,415,350-2565,no,no,0,110.400000,103,18....
24    VA,132,510,343-4696,no,no,0,81.100000,86,13.79...
25    NE,174,415,331-3698,no,no,0,124.300000,76,21.1...
26    WY,57,408,357-3817,no,yes,39,213.000000,115,36...
27    MT,54,408,418-6412,no,no,0,134.300000,73,22.83...
28    MO,20,415,353-2630,no,no,0,190.000000,109,32.3...
29    HI,49,510,410-7789,no,no,0,119.300000,117,20.2...
...                                                 ...
3303  WI,114,415,373-7308,no,yes,26,137.100000,88,23...
3304  IL,71,510,330-7137,yes,no,0,186.100000,114,31....
3305  IN,58,415,406-8445,no,yes,22,224.100000,127,38...
3306  AL,106,408,404-5283,no,yes,29,83.600000,131,14...
3307  OK,172,408,398-3632,no,no,0,203.900000,109,34....
3308  IA,45,415,399-5763,no,no,0,211.300000,87,35.92...
3309  VT,100,408,340-9449,yes,no,0,219.400000,112,37...
3310  NY,94,415,363-1123,no,no,0,190.400000,91,32.37...
3311  LA,128,415,361-2170,no,no,0,147.700000,94,25.1...
3312  SC,181,408,406-6304,no,no,0,229.900000,130,39....
3313  ID,127,408,392-5090,no,no,0,102.800000,128,17....
3314  MO,89,415,373-7713,no,no,0,178.700000,81,30.38...
3315  ME,149,415,392-1376,no,yes,18,148.500000,106,2...
3316  MS,103,510,390-6388,no,yes,29,164.100000,111,2...
3317  SD,163,415,379-7290,yes,no,0,197.200000,90,33....
3318  OK,52,415,397-9928,no,no,0,124.900000,131,21.2...
3319  WY,89,415,378-6924,no,no,0,115.400000,99,19.62...
3320  GA,122,510,411-5677,yes,no,0,140.000000,101,23...
3321  VT,60,415,400-2738,no,no,0,193.900000,118,32.9...
3322  MD,62,408,409-1856,no,no,0,321.100000,105,54.5...
3323  IN,117,415,362-5899,no,no,0,118.400000,126,20....
3324  WV,159,415,377-1164,no,no,0,169.800000,114,28....
3325  OH,78,408,368-8555,no,no,0,193.400000,99,32.88...
3326  OH,96,415,347-6812,no,no,0,106.600000,128,18.1...
3327  SC,79,415,348-3830,no,no,0,134.700000,98,22.90...
3328  AZ,192,415,414-4276,no,yes,36,156.200000,77,26...
3329  WV,68,415,370-3271,no,no,0,231.100000,57,39.29...
3330  RI,28,510,328-8230,no,no,0,180.800000,109,30.7...
3331  CT,184,510,364-6381,yes,no,0,213.800000,105,36...
3332  TN,74,415,400-4344,no,yes,25,234.400000,113,39...

[3333 rows x 1 columns]

In [45]:
df1=pd.read_csv(outfile2,sep='""')

C:\Users\jaldoj\AppData\Local\Continuum\anaconda3\envs\cursoML\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [46]:
df1=pd.read_csv(outfile2,sep='""'),engine='python'

SyntaxError: can't assign to function call (<ipython-input-46-703d8e96da05>, line 1)

In [47]:
df1=pd.read_csv(outfile2,sep='""',engine='python')

In [48]:
df1

     "State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?"
0     "KS,128,415,382-4657,no,yes,25,265.100000,110,...
1     "OH,107,415,371-7191,no,yes,26,161.600000,123,...
2     "NJ,137,415,358-1921,no,no,0,243.400000,114,41...
3     "OH,84,408,375-9999,yes,no,0,299.400000,71,50....
4     "OK,75,415,330-6626,yes,no,0,166.700000,113,28...
5     "AL,118,510,391-8027,yes,no,0,223.400000,98,37...
6     "MA,121,510,355-9993,no,yes,24,218.200000,88,3...
7     "MO,147,415,329-9001,yes,no,0,157.000000,79,26...
8     "LA,117,408,335-4719,no,no,0,184.500000,97,31....
9     "WV,141,415,330-8173,yes,yes,37,258.600000,84,...
10    "IN,65,415,329-6603,no,no,0,129.100000,137,21....
11    "RI,74,415,344-9403,no,no,0,187.700000,127,31....
12    "IA,168,408,363-1107,no,no,0,128.800000,96,21....
13    "MT,95,510,394-8006,no,no,0,156.600000,88,26.6...
14    "IA,62,415,366-9238,no,no,0,120.700000,70,20.5...
15    "NY,161,415,351-7269,no,no,0,332.900000,67,56....
16    "ID,85,408,350-8884,no,yes,27,196.400000,139,3...
17    "VT,93,510,386-2923,no,no,0,190.700000,114,32....
18    "VA,76,510,356-2992,no,yes,33,189.700000,66,32...
19    "TX,73,415,373-2782,no,no,0,224.400000,90,38.1...
20    "FL,147,415,396-5800,no,no,0,155.100000,117,26...
21    "CO,77,408,393-7984,no,no,0,62.400000,89,10.61...
22    "AZ,130,415,358-1958,no,no,0,183.000000,112,31...
23    "SC,111,415,350-2565,no,no,0,110.400000,103,18...
24    "VA,132,510,343-4696,no,no,0,81.100000,86,13.7...
25    "NE,174,415,331-3698,no,no,0,124.300000,76,21....
26    "WY,57,408,357-3817,no,yes,39,213.000000,115,3...
27    "MT,54,408,418-6412,no,no,0,134.300000,73,22.8...
28    "MO,20,415,353-2630,no,no,0,190.000000,109,32....
29    "HI,49,510,410-7789,no,no,0,119.300000,117,20....
...                                                 ...
3303  "WI,114,415,373-7308,no,yes,26,137.100000,88,2...
3304  "IL,71,510,330-7137,yes,no,0,186.100000,114,31...
3305  "IN,58,415,406-8445,no,yes,22,224.100000,127,3...
3306  "AL,106,408,404-5283,no,yes,29,83.600000,131,1...
3307  "OK,172,408,398-3632,no,no,0,203.900000,109,34...
3308  "IA,45,415,399-5763,no,no,0,211.300000,87,35.9...
3309  "VT,100,408,340-9449,yes,no,0,219.400000,112,3...
3310  "NY,94,415,363-1123,no,no,0,190.400000,91,32.3...
3311  "LA,128,415,361-2170,no,no,0,147.700000,94,25....
3312  "SC,181,408,406-6304,no,no,0,229.900000,130,39...
3313  "ID,127,408,392-5090,no,no,0,102.800000,128,17...
3314  "MO,89,415,373-7713,no,no,0,178.700000,81,30.3...
3315  "ME,149,415,392-1376,no,yes,18,148.500000,106,...
3316  "MS,103,510,390-6388,no,yes,29,164.100000,111,...
3317  "SD,163,415,379-7290,yes,no,0,197.200000,90,33...
3318  "OK,52,415,397-9928,no,no,0,124.900000,131,21....
3319  "WY,89,415,378-6924,no,no,0,115.400000,99,19.6...
3320  "GA,122,510,411-5677,yes,no,0,140.000000,101,2...
3321  "VT,60,415,400-2738,no,no,0,193.900000,118,32....
3322  "MD,62,408,409-1856,no,no,0,321.100000,105,54....
3323  "IN,117,415,362-5899,no,no,0,118.400000,126,20...
3324  "WV,159,415,377-1164,no,no,0,169.800000,114,28...
3325  "OH,78,408,368-8555,no,no,0,193.400000,99,32.8...
3326  "OH,96,415,347-6812,no,no,0,106.600000,128,18....
3327  "SC,79,415,348-3830,no,no,0,134.700000,98,22.9...
3328  "AZ,192,415,414-4276,no,yes,36,156.200000,77,2...
3329  "WV,68,415,370-3271,no,no,0,231.100000,57,39.2...
3330  "RI,28,510,328-8230,no,no,0,180.800000,109,30....
3331  "CT,184,510,364-6381,yes,no,0,213.800000,105,3...
3332  "TN,74,415,400-4344,no,yes,25,234.400000,113,3...

[3333 rows x 1 columns]